/* Variables - Colour */
$color1: #24555C;
$color2: #EDF8FC;
$color3: #55CADC;
$color4: #2D3638;
$accent: #B5465E;

/* Variables - Breakpoints */
$bp-s: 420px;
$bp-m: 720px;
$bp-l: 1100px;

/* Variables – Fonts */
$headings: 'Libre Baskerville', serif;
$paragraph: 'Quattrocento Sans', sans-serif;

/* Mixins */

@mixin padding {
    padding-left: 1em;
    padding-right: 1em;
    @media (min-width: $bp-s) {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    @media (min-width: $bp-m) {
        padding-left: 2em;
        padding-right: 2em;
    }
    @media (min-width: $bp-l) {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
}